In [ ]:
import numpy as np
import pandas as pd

In [ ]:
matches = pd.read_csv('matches.csv')
deliveries = pd.read_csv('deliveries.csv')

In [ ]:
matches.tail()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
1090,1426307,2024,Hyderabad,2024-05-19,League,Abhishek Sharma,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Punjab Kings,Sunrisers Hyderabad,Punjab Kings,bat,Sunrisers Hyderabad,wickets,4.0,215.0,20.0,N,NaN,Nitin Menon,VK Sharma
1091,1426309,2024,Ahmedabad,2024-05-21,Qualifier 1,MA Starc,"Narendra Modi Stadium, Ahmedabad",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,160.0,20.0,N,NaN,AK Chaudhary,R Pandit
1092,1426310,2024,Ahmedabad,2024-05-22,Eliminator,R Ashwin,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bengaluru,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,4.0,173.0,20.0,N,NaN,KN Ananthapadmanabhan,MV Saidharshan Kumar
1093,1426311,2024,Chennai,2024-05-24,Qualifier 2,Shahbaz Ahmed,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,Sunrisers Hyderabad,runs,36.0,176.0,20.0,N,NaN,Nitin Menon,VK Sharma
1094,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,114.0,20.0,N,NaN,J Madanagopal,Nitin Menon

In [ ]:
deliveries.tail()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
260915,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260916,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260917,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260918,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260919,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [ ]:
matches.shape

(1095, 20)

In [ ]:
deliveries.shape

(260920, 17)

In [ ]:
deliveries.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batter', 'bowler', 'non_striker', 'batsman_runs', 'extra_runs',
       'total_runs', 'extras_type', 'is_wicket', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [ ]:
matches.columns

Index(['id', 'season', 'city', 'date', 'match_type', 'player_of_match',
       'venue', 'team1', 'team2', 'toss_winner', 'toss_decision', 'winner',
       'result', 'result_margin', 'target_runs', 'target_overs', 'super_over',
       'method', 'umpire1', 'umpire2'],
      dtype='object')

In [ ]:
total_score_df =deliveries.groupby(['match_id', 'inning'])['total_runs'].sum().reset_index()

#extracting total score of each match from deliveries dataset

In [ ]:
total_score_df.tail()

      match_id  inning  total_runs
2212   1426310       2         174
2213   1426311       1         175
2214   1426311       2         139
2215   1426312       1         113
2216   1426312       2         114

In [ ]:
total_score_df.shape

(2217, 3)

In [ ]:
total_score_df = total_score_df[total_score_df['inning'] == 1]

#create new dataset with the score of only first inning

In [ ]:
total_score_df.shape

(1095, 3)

In [ ]:
match_df = matches.merge(total_score_df[['match_id', 'total_runs']], left_on='id', right_on= 'match_id')

# merged total score df with match df and put total score of first inning of each match in match_df

In [ ]:
match_df.tail()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,...,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,match_id,total_runs
1090,1426307,2024,Hyderabad,2024-05-19,League,Abhishek Sharma,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Punjab Kings,Sunrisers Hyderabad,Punjab Kings,...,wickets,4.0,215.0,20.0,N,NaN,Nitin Menon,VK Sharma,1426307,214
1091,1426309,2024,Ahmedabad,2024-05-21,Qualifier 1,MA Starc,"Narendra Modi Stadium, Ahmedabad",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,wickets,8.0,160.0,20.0,N,NaN,AK Chaudhary,R Pandit,1426309,159
1092,1426310,2024,Ahmedabad,2024-05-22,Eliminator,R Ashwin,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bengaluru,Rajasthan Royals,Rajasthan Royals,...,wickets,4.0,173.0,20.0,N,NaN,KN Ananthapadmanabhan,MV Saidharshan Kumar,1426310,172
1093,1426311,2024,Chennai,2024-05-24,Qualifier 2,Shahbaz Ahmed,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,...,runs,36.0,176.0,20.0,N,NaN,Nitin Menon,VK Sharma,1426311,175
1094,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,wickets,8.0,114.0,20.0,N,NaN,J Madanagopal,Nitin Menon,1426312,113

In [ ]:
match_df['team1'].unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Mumbai Indians', 'Kolkata Knight Riders',
       'Rajasthan Royals', 'Deccan Chargers', 'Chennai Super Kings',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Gujarat Lions', 'Rising Pune Supergiants',
       'Rising Pune Supergiant', 'Delhi Capitals', 'Punjab Kings',
       'Lucknow Super Giants', 'Gujarat Titans',
       'Royal Challengers Bengaluru'], dtype=object)

In [ ]:
#only keep those team which are currently playing

teams = [
    'Sunrisers Hyderabad',
    'Mumbai Indians',
    'Royal Challengers Bengaluru',
    'Kolkata Knight Riders',
    'Punjab Kings',
    'Chennai Super Kings',
    'Rajasthan Royals',
    'Delhi Capitals',
    'Gujarat Titans',
    'Lucknow Super Giants'
]

In [ ]:
match_df['team1'] = match_df['team1'].str.replace('Delhi Daredevils', 'Delhi Capitals')
match_df['team2'] = match_df['team2'].str.replace('Delhi Daredevils', 'Delhi Capitals')

match_df['team1'] = match_df['team1'].str.replace('Deccan Chargers', 'Sunrisers Hyderabad')
match_df['team2'] = match_df['team2'].str.replace('Deccan Chargers', 'Sunrisers Hyderabad')

match_df['team1'] = match_df['team1'].str.replace('Royal Challengers Banglaore', 'Royal Challengers Bengaluru')
match_df['team2'] = match_df['team2'].str.replace('Royal Challengers Banglaore', 'Royal Challengers Bengaluru')

match_df['team1'] = match_df['team1'].str.replace('Kings XI Punjab', 'Punjab Kings')
match_df['team2'] = match_df['team2'].str.replace('Kings XI Punjab', 'Punjab Kings')

In [ ]:
match_df = match_df[
    (match_df['team1'].isin(teams)) &
    (match_df['team2'].isin(teams))
]

In [ ]:
match_df.shape

(756, 22)

In [ ]:
match_df['team1'].unique()

array(['Punjab Kings', 'Delhi Capitals', 'Kolkata Knight Riders',
       'Rajasthan Royals', 'Sunrisers Hyderabad', 'Chennai Super Kings',
       'Mumbai Indians', 'Lucknow Super Giants', 'Gujarat Titans',
       'Royal Challengers Bengaluru'], dtype=object)

In [ ]:
match_df =match_df[match_df['method']!='D/L']

In [ ]:
match_df.shape

(742, 22)

In [ ]:
match_df = match_df[['match_id', 'city', 'winner', 'total_runs']]

In [ ]:
match_df.tail()

      match_id       city                 winner  total_runs
1090   1426307  Hyderabad    Sunrisers Hyderabad         214
1091   1426309  Ahmedabad  Kolkata Knight Riders         159
1092   1426310  Ahmedabad       Rajasthan Royals         172
1093   1426311    Chennai    Sunrisers Hyderabad         175
1094   1426312    Chennai  Kolkata Knight Riders         113

In [ ]:
deliveries_df = match_df.merge(deliveries, on='match_id')

In [ ]:
deliveries_df.tail()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
178740,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
178741,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
178742,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
178743,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
178744,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [ ]:
deliveries_df = deliveries_df[deliveries_df['inning'] == 2]

In [ ]:
deliveries_df.shape

(86548, 20)

In [ ]:
deliveries_df.sample(5)

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
22045,419121,Chennai,Kings XI Punjab,136,2,Chennai Super Kings,Kings XI Punjab,11,7,PA Patel,Yuvraj Singh,SK Raina,1,0,1,NaN,0,NaN,NaN,NaN
118338,1216517,NaN,Kings XI Punjab,176,2,Kings XI Punjab,Mumbai Indians,11,2,KL Rahul,RD Chahar,N Pooran,1,0,1,NaN,0,NaN,NaN,NaN
109515,1178425,Chennai,Chennai Super Kings,179,2,Delhi Capitals,Chennai Super Kings,1,4,SS Iyer,Harbhajan Singh,S Dhawan,1,0,1,NaN,0,NaN,NaN,NaN
25013,419137,Chennai,Chennai Super Kings,246,2,Rajasthan Royals,Chennai Super Kings,16,1,FY Fazal,SK Raina,NV Ojha,1,0,1,NaN,0,NaN,NaN,NaN
112165,1216493,NaN,Delhi Capitals,157,2,Kings XI Punjab,Delhi Capitals,6,6,SN Khan,K Rabada,MA Agarwal,0,0,0,NaN,0,NaN,NaN,NaN

In [ ]:
deliveries_df['current_score'] = deliveries_df.groupby(['match_id'])['total_runs_y'].cumsum()

In [ ]:
deliveries_df['runs_left'] = deliveries_df['total_runs_x'] +1 - deliveries_df['current_score']

In [ ]:
deliveries_df.tail()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left
178740,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,...,1,0,1,NaN,0,NaN,NaN,NaN,110,4
178741,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,...,1,0,1,NaN,0,NaN,NaN,NaN,111,3
178742,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,...,1,0,1,NaN,0,NaN,NaN,NaN,112,2
178743,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,...,1,0,1,NaN,0,NaN,NaN,NaN,113,1
178744,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,...,1,0,1,NaN,0,NaN,NaN,NaN,114,0

In [ ]:
deliveries_df['balls_left'] = 126 - (deliveries_df['over']*6 + deliveries_df['ball'])

In [ ]:
deliveries_df['player_dismissed'] = deliveries_df['player_dismissed'].fillna('0')
deliveries_df['player_dismissed'] = deliveries_df['player_dismissed'].apply(lambda x: x if x == '0' else '1')
deliveries_df['player_dismissed'] = deliveries_df['player_dismissed'].astype('int')
deliveries_df['wickets_fall'] = deliveries_df.groupby(['match_id'])['player_dismissed'].cumsum()
deliveries_df['wickets_left'] = 10 - deliveries_df['wickets_fall']

In [ ]:
deliveries_df.tail()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets_fall,wickets_left
178740,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,...,NaN,0,0,NaN,NaN,110,4,67,2,8
178741,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,...,NaN,0,0,NaN,NaN,111,3,66,2,8
178742,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,...,NaN,0,0,NaN,NaN,112,2,65,2,8
178743,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,...,NaN,0,0,NaN,NaN,113,1,64,2,8
178744,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,...,NaN,0,0,NaN,NaN,114,0,63,2,8

In [ ]:
deliveries_df['CRR'] = (deliveries_df['current_score']*6)/(120-deliveries_df['balls_left'])
deliveries_df['RRR'] = (deliveries_df['runs_left']*6)/deliveries_df['balls_left']

In [ ]:
#we are only using second inning data, so if winner is same as abatting team, we encodde as 1, else 0

def result(row):
  return 1 if row['batting_team'] == row['winner'] else 0

In [ ]:
deliveries_df['result'] = deliveries_df.apply(result, axis=1)

In [ ]:
final_df= deliveries_df[['batting_team', 'bowling_team', 'city','runs_left', 'balls_left', 'wickets_left', 'total_runs_x', 'CRR', 'RRR', 'result']]

In [ ]:
final_df.tail()

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,total_runs_x,CRR,RRR,result
139768,Chennai Super Kings,Mumbai Indians,Navi Mumbai,29,19,4,155,7.544554,9.157895,1
52242,Kings XI Punjab,Delhi Daredevils,Delhi,23,45,6,120,7.840000,3.066667,1
150940,Gujarat Titans,Punjab Kings,Chandigarh,63,55,8,153,8.400000,6.872727,1
142731,Punjab Kings,Gujarat Titans,Navi Mumbai,68,67,9,143,8.603774,6.089552,1
137340,Lucknow Super Giants,Rajasthan Royals,Mumbai,64,31,3,165,6.876404,12.387097,0

In [ ]:
#suffling to minimize baisness

final_df = final_df.sample(final_df.shape[0])
final_df = final_df[final_df['balls_left']!=120]

In [ ]:
final_df.shape

(81472, 10)

In [ ]:
final_df.isnull().sum()

batting_team    0
bowling_team    0
city            0
runs_left       0
balls_left      0
wickets_left    0
total_runs_x    0
CRR             0
RRR             0
result          0
dtype: int64

In [ ]:
final_df.dropna(inplace=True)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [ ]:
x =final_df.drop(columns=['result'])
y =final_df['result']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1)
#

In [ ]:
trf = ColumnTransformer([
    ('trf', OneHotEncoder(sparse_output=False, drop='first'), ['batting_team', 'bowling_team', 'city'])
], remainder='passthrough')

In [ ]:
pipe = Pipeline(steps=[
    ('step1', trf),
    ('step2', LogisticRegression(solver='liblinear'))
]
)

In [ ]:
final_df.describe()

,runs_left,balls_left,wickets_left,total_runs_x,CRR,RRR,result
count,81472.000000,81472.000000,81472.000000,81472.000000,81472.000000,81472.000000,81472.000000
mean,93.760985,67.985308,7.466430,168.929853,9.069424,8.647292,0.511255
std,50.698919,33.225821,2.155965,30.853122,7.706973,4.232044,0.499876
min,-5.000000,3.000000,0.000000,67.000000,-132.000000,-7.500000,0.000000
25%,54.000000,40.000000,6.000000,148.000000,7.352113,6.576923,0.000000
50%,93.000000,69.000000,8.000000,168.000000,8.745763,8.213115,1.000000
75%,131.000000,97.000000,9.000000,188.000000,10.451613,10.018868,1.000000
max,287.000000,125.000000,10.000000,287.000000,162.000000,98.000000,1.000000

In [ ]:
pipe.fit(x_train, y_train)

/usr/local/lib/python3.12/dist-packages/sklearn/compose/_column_transformer.py:1667: FutureWarning:
The format of the columns of the 'remainder' transformer in ColumnTransformer.transformers_ will change in version 1.7 to match the format of the other transformers.
At the moment the remainder columns are stored as indices (of type int). With the same ColumnTransformer configuration, in the future they will be stored as column names (of type str).
To use the new behavior now and suppress this warning, use ColumnTransformer(force_int_remainder_cols=False).

  warnings.warn(

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse_output=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [ ]:
y_pred = pipe.predict(x_test)

In [ ]:
accuracy_score(y_test, y_pred)

0.8182878183491868

In [ ]:
pipe2 = Pipeline(steps=[
    ('step1', trf),
    ('step2', RandomForestClassifier())
]
)
pipe2.fit(x_train, y_train)
y_pred2 =pipe2.predict(x_test)
accuracy_score(y_test, y_pred2)
#

0.9981589444614912

In [ ]:
pipe.predict_proba(x_test)[101]

array([0.05448432, 0.94551568])

In [ ]:
teams

['Sunrisers Hyderabad',
 'Mumbai Indians',
 'Royal Challengers Bengaluru',
 'Kolkata Knight Riders',
 'Punjab Kings',
 'Chennai Super Kings',
 'Rajasthan Royals',
 'Delhi Capitals',
 'Gujarat Titans',
 'Lucknow Super Giants']

In [ ]:
cities = final_df['city'].unique()

In [ ]:
cities

array(['Sharjah', 'Mumbai', 'Abu Dhabi', 'Ahmedabad', 'Bengaluru',
       'Kolkata', 'Kimberley', 'Delhi', 'Pune', 'Jaipur', 'Chandigarh',
       'Hyderabad', 'Dharamsala', 'Cape Town', 'Lucknow', 'Chennai',
       'Centurion', 'Indore', 'Navi Mumbai', 'Mohali', 'Johannesburg',
       'Dubai', 'Guwahati', 'Visakhapatnam', 'East London', 'Cuttack',
       'Port Elizabeth', 'Durban', 'Bangalore', 'Raipur', 'Bloemfontein',
       'Ranchi', 'Nagpur'], dtype=object)

In [ ]:
import pickle

In [ ]:
pickle.dump(pipe, open('pipe.pkl', 'wb'))